#wrap-inner{

  .mb15{
    margin-bottom: 15px;
  }

  .service-column{
    margin-bottom: 40px;
    border-right: 1px solid #ffffff;
    padding: 11px 4px 6px 9px;
    float: left;
    h3{
      font-size: 24px;
      margin-bottom: 30px;
    }
    p{
      line-height: 21px;
      margin-bottom:31px;
      padding-right: 20px;
    }
    .more{
      a{
        font-size: 18px;
        font-weight: bold;
        color: #FFF;
        &:hover{
          @include opacity(0.8);
        }
      }
    }
    &:hover{
      border-right: 5px solid #ffffff;
      padding-right: 0px;
    }
    img {
      width: 40%;
      float: left;
      padding: 0 20px 0 0;
    }

    @include respond-to('smartphone'){
      img {
        width: 90%;
        float: none;
        padding: 0 0 20px 0;
      }
    }
  }
  
}